# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
g

.idea
.DS_Store
.history

# 忽略 demoapp 下所有内容
cmd/generate/_example/internal/apps/demoapp/*

# 但不忽略 config 目录
!cmd/generate/_example/internal/apps/demoapp/config/

# 不忽略 api/enter.go（注意先保 api 再保文件）
!cmd/generate/_example/internal/apps/demoapp/api/
!cmd/generate/_example/internal/apps/demoapp/api/enter.go

# 不忽略 code/enter.go（注意先保 code 再保文件）
!cmd/generate/_example/internal/apps/demoapp/code/
!cmd/generate/_example/internal/apps/demoapp/code/enter.go

# 不忽略 generate_test.go
!cmd/generate/_example/internal/apps/demoapp/generate_test.go

